:root{
    --cust-color-main: #6D9C90;
    --cust-color-secondary: #354F52;
    --cust-color-blue: #00536D;
    --cust-color-button: #537970;
    --cust-color-offwhite: #CAD2C5;
    --cust-color-black: #3D3D3D;
    --cust-wrapper-max-width: 1200px;
    --cust-form-max-width: 1000px;
    --cust-typeface: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--cust-typeface);
    
}

.wrapper {
    max-width: var(--cust-wrapper-max-width);
    margin: 0 auto;
}

body {
    background-color: var(--cust-color-offwhite);
    color: var(--cust-color-black);
}

header
 {
    text-align: center;
    background-color: var(--cust-color-main);
    height: 100px;
    line-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

header h1 {
    font-size: 70px;
    color: var(--cust-color-blue);
}


.content,.content-flex {
    margin: 50px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cust-color-main);
}

.content-flex {
    width: 100%;
    margin:50px auto;
    justify-content: center;
    align-items: center;
    
    background-color: var(--cust-color-main);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid var(--cust-color-secondary);
    background-color: var(--cust-color-offwhite);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}
form h2 {
    font-size: 40px;
    text-align: center;
    margin: 10px 10px;
    padding: 10px;
    color: var(--cust-color-blue);
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2)
  }

form h3 {
    font-size: 30px;
    text-align: center;
    margin: 10px 10px;
    padding: 10px;
    color: var(--cust-color-blue);
   
  }

  form label {
    margin: 10px 0;
    color: var(--cust-color-blue);
    font-weight: bold;
    font-style: var(--cust-typeface);

  }

  form input {
    height: 40px;
    font-size: 20px;
  }

  form select {
    height: 40px;
    margin: 20px 0;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    box-shadow: none;
    text-align: center;
    cursor: pointer;
  }

form select:hover {
    background-color: var(--cust-color-secondary);
    color: var(--cust-color-offwhite)
  }

form input[type="submit"] {
    background-color: var(--cust-color-button);
    color: var(--cust-color-offwhite);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: var(--cust-color-button) 0.5s ease-in-out;
  }
  
form input[type="submit"]:hover {
    background-color: var(--cust-color-secondary);
    color: var(--cust-color-offwhite)
  }

/* making button appear animated when clicked*/
  form input[type="submit"]:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
  }
.item-List {
    max-width: var(--cust-form-max-width);
    padding: 25px;
    /* horizontally center the element */
    margin: 0 auto; 
    
  }
 
  #pPalListArea {
    font-size: 25px;
    text-align: center;
    margin: 25px auto;
    margin-bottom: 20px;
    padding: 10px;
    width: var(--cust-form-max-width);
    border: 2px solid var(--cust-color-main);
    background-color: var(--cust-color-offwhite);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    max-width: var(--cust-form-max-width);
    color: var(--cust-color-blue);
  }
  #pPalListArea:hover {
    background-color: var(--cust-color-secondary);
    color: var(--cust-color-offwhite)
  }

  #pPalListArea:active{
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
  }
  .pantryPalList {
    border: 2px solid var(--cust-color-main);
    background-color: var(--cust-color-offwhite);
    max-width: var(--cust-form-max-width);
    border-radius: 10px;
    min-height: 200px;
    padding: 20px;
    overflow-y: scroll;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
 
.pantryPalList h2 {
    border: 2px solid var(--cust-color-secondary);
    max-width: var(--cust-form-max-width);
    border-radius: 3px;
    background-color: var(--cust-color-main);
    padding: 5px;
    color: var(--cust-color-blue);
  }

.item.notFound{
    border: 2px solid var(--cust-color-secondary);
    max-width: var(--cust-form-max-width);
    border-radius: 3px;
    background-color: var(--cust-color-offwhite);
    padding: 5px;
    text-align: center;
    margin: 5px auto;
    color: var(--cust-color-blue)
} 
.item.notFound:active{
    transform: scale(0.95);
    transition: transform 1s ease-in-out;
  }
.item.found{
    max-width: var(--cust-form-max-width);
    border-radius: 3px;
    background-color: var(--cust-color-secondary);
    padding: 5px;
    text-align: center;
    margin: 5px auto;
    color: var(--cust-color-offwhite)
}

.item.found:active{
    transform: scale(0.95);
    transition: transform 1s ease-in-out;
  }
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: var(--cust-color-offwhite);
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      
}
#itemFound[type="button"] {
        background-color: var(--cust-color-button);
        margin: 0 auto;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: var(--cust-color-button) 0.5s ease-in-out;
      }
      
#itemFound[type="button"]:hover {
        background-color: var(--cust-color-secondary);
      }
#itemFoundDisplay[type="button"] {
        margin: 0 auto;
        background-color: var(--cust-color-button);
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: var(--cust-color-button) 0.5s ease-in-out;
      }
      
#itemFoundDisplay[type="button"]:hover {
        background-color: var(--cust-color-secondary);
      }

#resetGListButton {
        margin: 0 auto;
        background-color: var(--cust-color-button);
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: var(--cust-color-button) 0.5s ease-in-out;
      }
      
#resetGListButton:hover {
        background-color: var(--cust-color-secondary);
      }

div #pPalListArea {
    cursor: pointer;
}

div .item{
    cursor: pointer;
}
/* citing animation generator https://www.doozytools.com/dev-tools/css-animation-generator */
@keyframes jello {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
    
  }
  
  main {
    animation: jello 2s ease 0s 1 normal none;
  }
  
 